<html>
<head>
<title>CarbonSteps</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <h1>CarbonSteps</h1>

    <p>
        This is a simple Python Flask web app to demonstrate an HTML5 multiple file
        uploader application combined with normal form data.
    </p>


    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <strong>Car File:</strong>
        <input id="file-picker" type="file" name="car" accept="image/*">


        <label for="brand"><strong>Car brand:</strong></label>
        <select name="brand">
            <option value="auto" >Auto</option>
            {% for brand in brands %}
            <option value="{{ brand }}" >{{ brand }}</option>
            {% endfor %}
        </select



        <strong>Zip File:</strong>
        <input id="file-picker" type="file" name="zip">
        <input type="submit" value="Upload!" id="upload-button">

</form>
</body>
</html>
