<html>
<head>
<title>CarbonSteps</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <center><h1>CarbonSteps</h1></center>

    <center>
        <p>
	CarbonSteps helps you track your carbon footprint.<br>
	It calculates this using your Google Maps data, and some machine learning magic.<br>
	We use Cognitive Services to recognise your car, then use an external API to find out its CO2 emissions.<br>

	You can start by uploading your <span><strong>takout.zip</strong></span> file.<br>
	<span><strong>See gif for example.</strong><span>
        </p>

	<a href="https://takeout.google.com/settings/takeout/custom/location_history" target="_blank">Timeline Takeout</a>
    </center>

    <br /><br />
    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <center>
            <h4>Upload your car's image:</h4>
            <input id="file-picker" type="file" name="car" accept="image/*">
        </center>

        <center>
            <h3> OR </h3>
        </center>

        <center>
            <h4>Choose your car's brand:</h4>
            <select name="brand">
                <option value="auto" >Auto</option>
                {% for brand in brands %}
                <option value="{{ brand }}" >{{ brand }}</option>
                {% endfor %}
            </select>
        </center>
        <br /><br />
        <center>
            <h4>Zip File:</h4>
            <input id="file-picker" type="file" name="zip">
        </center>
        <br /><br />
        <center>
            <input type="submit" value="Upload!" id="upload-button">
        </center>

</form>
</body>
</html>
